/**MAIN**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barbie-font';
    src: url('fonts/Barbie.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bright';
    src: url('fonts/Bright-Aura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fluppy';
    src: url('fonts/Atop-R99O3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Renitah';
    src: url('fonts/Renitah.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

body {
    width: 100vw;
    height: 100%;
    background-color: #FFD1DC;
    overflow-x: hidden;
}


/**NAVIGATION BAR**/
.navBar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 13vh;
    align-items: center;
    top: 0;
    left: 0;
    justify-items: center;
    letter-spacing: 3px;
    background-color: rgba(255, 255, 255, 0.549);
    box-shadow: 0px 0px 5px 1px rgba(164, 11, 113, 0.433);
    border-radius: 0px 0px 25px 0px;
}

.left-nav-items,
.right-nav-items {
    display: flex;
    align-items: center;
    justify-items: center;
}

.right-nav-items {
    margin-right: 2em;
}

/**NAVIGATION ITEMS**/
.logoImg {
    height: 100%;
    width: auto;
    max-height: 50px;
    margin-left: 2em;
    filter: drop-shadow(1px 1px 20px rgb(181, 85, 130));
}

.home,
.nav-first-item,
.nav-snd-item,
.nav-third-item {
    font-family: 'Bright', sans-serif;
    font-style: normal;
    display: block;
    font-size: 15px;
    margin: 0 25px;
}

.home {
    font-size: 22px;
}

.left-nav-items a,
.right-nav-items a {
    color: #ec6f8c;
    text-decoration: none;
    font-weight: 900;
}

/**FIRST SECTION**/
.firstSection {
    width: 90%;
    justify-self: center;
    height: 80vh;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*****CARDS*******/
.leftContainer {
    height: 60%;
    width: 35vw;
    margin-left: 7em;
}

.rightContainer {
    height: 90%;
    width: 40%;
    margin-right: 4em;

}

.cardImage {
    height: 71vh;
    width: 100%;
    margin-top: 5vh;
    align-self: center;
    object-fit: contain;
}

.left-container-title {
    position: absolute;
    margin: 30px 10px;
}

.content-container {
    height: auto;
    padding: 15px 5px;
    width: 35vw;
}

.content-container p {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Bright';
    color: black;
    line-height: 30px;
}

.left-container-title h1 {
    font-family: 'Bright';
    color: #d425c8ba;
    font-size: 50px;
    font-weight: 1000;
    letter-spacing: 2px;
}

.left-image-container {
    height: 20vh;
    justify-self: end;
    transform: translateX(-20px);
    position: absolute;
}

.left-image-container img {
    object-fit: contain;
    height: 20vh;
    width: auto;
    transform: translateY(-30px);

}

.float {
    position: fixed;
    height: 10vh;
    width: auto;
    bottom: 3vh;
    right: 3vh;
    z-index: 1;
}

.float img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    transform: scaleX(-1);
    z-index: 1;
    cursor: pointer;
}

/***SECOND SECTION****/
.second-section-title {
    width: 100vw;
    height: 10vh;
    margin-top: 5vh;
    justify-items: start;
    align-content: center;
    background: transparent;
}

.second-section {
    height: 50vh;
    width: 100vw;
    justify-self: center;
}

.second-section-title h1 {
    font-family: 'Bright';
    font-size: 2em;
    transform: translateX(50px);
    color: #d425c8ba;
}

/**SLIDER SECOND SECTION**/

.slider-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding: 0px 2em;
}

.mySlides {
    width: 95vw;
    height: 55vh;
    padding: 2em 0;
    animation: scroll 5s linear infinite;

}

.slider-container:hover .mySlides {
    animation-play-state: paused;
}

.mySlides img {
    height: 50vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.8;
    margin: 0px 5px;
}

.mySlides img:hover {
    opacity: 1;
    height: 50vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 7px;
    transform: scale(1.1);
    transition: .3s;
    margin: 0px 13px;
    box-shadow: 2px 2px 7px #0000002c;
    filter: drop-shadow(1px 1px 10px #0000002c);
}

.active {
    background-color: #717171;
}

/*MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    align-content: center;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
}

.myModalSlides img {
    object-fit: cover;
    width: 60vw;
    justify-self: center;
    height: 80vh;
    z-index: 2;
    display: block;
}

.myModalSlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    top: 50vh;
    transform: translateY(-50px);
    margin: 0px 15vw;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cursor {
    cursor: pointer;
}

.close {
    color: white;
    position: absolute;
    top: 5vh;
    right: 14vw;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}